<html>
<body>
    <div id=":12y" class="ii gt">
        <div id=":12z" class="a3s aXjCH">
            <div dir="ltr">
                <div style="line-height: inherit" class="adM">
                    <div style="
              line-height: inherit;
              max-width: 560px;
              margin: 0px auto;
              min-width: 280px;
            ">
                        <div style="
                line-height: inherit;
                border-collapse: collapse;
                display: table;
                width: 560px;
              ">
                            <br />
                            <div style="
                  line-height: 19px;
                  float: left;
                  display: table-cell;
                  font-size: 12px;
                  max-width: 280px;
                  min-width: 140px;
                  padding: 10px 0px 5px;
                  color: rgb(21, 21, 19);
                  font-family: Raleway, 'Trebuchet MS', Avenir, 'Segoe UI',
                    sans-serif;
                "></div>
                            <div style="
                  line-height: 19px;
                  float: left;
                  display: table-cell;
                  font-size: 12px;
                  max-width: 280px;
                  min-width: 139px;
                  padding: 10px 0px 5px;
                  text-align: right;
                  color: rgb(21, 21, 19);
                  font-family: Raleway, 'Trebuchet MS', Avenir, 'Segoe UI',
                    sans-serif;
                "></div>
                        </div>
                    </div>
                </div>
                <div style="line-height: inherit">
                    <div style="
              line-height: inherit;
              max-width: 600px;
              margin: 0px auto;
              min-width: 320px;
              word-break: break-word;
            ">
                        <div style="
                line-height: inherit;
                border-collapse: collapse;
                display: table;
                width: 600px;
                background: url('https://ci5.googleusercontent.com/proxy/t4-wsynccKEHrMVeXX21aMaYDnnwFbI95fC7JewfqZL0P5IRWZa782Eb_vhGTGj-hmhOC35r9JZheYRYfo5u2xH1VaWhyAOAL70b1Ckd62EnGdDQyjCA9inwNSrX=s0-d-e1-ft#https://i1.createsend1.com/ei/t/E6/FC0/BB4/201331/csfinal/Cobblestones.png')
                  0% 0% / cover no-repeat rgb(112, 16, 48);
              ">
                            <div style="
                  line-height: 24px;
                  vertical-align: top;
                  color: rgb(86, 86, 86);
                  font-size: 16px;
                  font-family: Raleway, 'Trebuchet MS', Avenir, 'Segoe UI',
                    sans-serif;
                  float: none;
                  max-width: 600px;
                  width: 600px;
                ">
                                <div style="
                    line-height: inherit;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-top: 12px;
                  " class="adM">
                                    <div style="line-height: 30px; font-size: 1px">&nbsp;</div>
                                </div>
                                <div style="
                    line-height: inherit;
                    margin-left: 20px;
                    margin-right: 20px;
                  ">
                                    <div style="line-height: inherit; vertical-align: middle">
                                        <h2 style="
                        line-height: 31px;
                        font-size: 22px;
                        margin-top: 0px;
                        margin-bottom: 16px;
                        color: rgb(255, 255, 255);
                        text-align: center;
                      ">
                                            Abhigyan Abhikaushalam Students' Forum
                                        </h2>
                                    </div>
                                </div>
                                <div style="
                    line-height: inherit;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 12px;
                  ">
                                    <div style="line-height: 10px; font-size: 1px">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="line-height: 20px; font-size: 20px">&nbsp;</div>
                    <div style="
              line-height: inherit;
              max-width: 600px;
              margin: 0px auto;
              min-width: 320px;
              word-break: break-word;
            ">
                        <div style="
                line-height: inherit;
                border-collapse: collapse;
                display: table;
                width: 600px;
              ">
                            <div style="
                  line-height: 24px;
                  vertical-align: top;
                  color: rgb(86, 86, 86);
                  font-size: 16px;
                  font-family: Raleway, 'Trebuchet MS', Avenir, 'Segoe UI',
                    sans-serif;
                  float: none;
                  max-width: 600px;
                  width: 600px;
                ">
                                <div style="
                    line-height: inherit;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-top: 12px;
                  ">
                                    <div style="line-height: inherit; vertical-align: middle">
                                        <p>
                                            Hey ${name},
                                            <br>
                                            Your OTP to reset AASF account password is
                                        </p>
                                        <div style="
                    line-height: inherit;
                    margin-left: 20px;
                    margin-right: 20px;
                  ">
                                            <div style="
                      line-height: inherit;
                      margin-bottom: 20px;
                      text-align: center;
                    ">
                                                <a href="#" style="
                        line-height: 24px;
                        border-radius: 0px;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 12px 24px;
                        border: 1px solid rgb(173, 54, 93);
                        text-decoration-line: none;
                        color: rgb(173, 54, 93);
                      " target="_blank"><span class="il">${otp}</span></a>
                                            </div>
                                        </div>
                                        <p>OTP expires after 1 hour.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="
              line-height: inherit;
              max-width: 600px;
              margin: 0px auto;
              min-width: 320px;
              word-break: break-word;
            ">
                    <div style="
                line-height: inherit;
                border-collapse: collapse;
                display: table;
                width: 600px;
              "></div>
                </div>
                <div style="
              line-height: inherit;
              max-width: 600px;
              margin: 0px auto;
              min-width: 320px;
              word-break: break-word;
            ">
                    <div style="
                line-height: inherit;
                border-collapse: collapse;
                display: table;
                width: 600px;
                background: url('https://ci5.googleusercontent.com/proxy/t4-wsynccKEHrMVeXX21aMaYDnnwFbI95fC7JewfqZL0P5IRWZa782Eb_vhGTGj-hmhOC35r9JZheYRYfo5u2xH1VaWhyAOAL70b1Ckd62EnGdDQyjCA9inwNSrX=s0-d-e1-ft#https://i1.createsend1.com/ei/t/E6/FC0/BB4/201331/csfinal/Cobblestones.png')
                  0% 0% / cover no-repeat rgb(112, 16, 48);
              ">
                        <div style="
                  line-height: 24px;
                  vertical-align: top;
                  color: rgb(86, 86, 86);
                  font-size: 16px;
                  font-family: Raleway, 'Trebuchet MS', Avenir, 'Segoe UI',
                    sans-serif;
                  float: none;
                  max-width: 600px;
                  width: 600px;
                ">
                            <div style="
                    line-height: inherit;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-top: 12px;
                  ">
                                <div style="line-height: 30px; font-size: 1px">&nbsp;</div>
                            </div>
                            <div style="
                    line-height: inherit;
                    margin-left: 20px;
                    margin-right: 20px;
                  ">
                                <div style="line-height: inherit; vertical-align: middle">
                                    <p style="
                        line-height: 20px;
                        margin-top: 0px;
                        margin-bottom: 16px;
                        font-weight: 600;
                        color: rgb(255, 255, 255);
                        font-size: 12px;
                        text-align: center;
                      ">
                                        AASF works to conjugate knowledge and skills into a single
                                        bunch. The forum also aims to inculcate in the students the
                                        spirit of excellence in every field along with promoting
                                        innovative ideas.
                                    </p>
                                    <p style="
                        line-height: 20px;
                        margin-top: 0px;
                        margin-bottom: 16px;
                        font-weight: 600;
                        color: rgb(255, 255, 255);
                        font-size: 10px;
                        text-align: center;
                      ">
                                        Address: Room no: 201, Block A, ABV-IIITM, Gwalior, Madhya
                                        Pradesh<br style="line-height: inherit" />Email:&nbsp;<a
                                            href="mailto:aasf.iiitmg@gmail.com" style="
                          line-height: inherit;
                          text-decoration-line: none;
                          color: white;
                        " target="_blank">aasf.iiitmg@gmail.com</a><br
                                            style="line-height: inherit" />Contact:9877323051 (Kumar Lakshya),
                                        6394331245 (Poorvi Vaish)
                                    </p>
                                    <div style="line-height: inherit; display: flex">
                                        <a href="https://www.facebook.com/Abhigyan-Abhikaushalam-Students-Forum-170032809743146"
                                            style="line-height: inherit" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/Abhigyan-Abhikaushalam-Students-Forum-170032809743146&amp;source=gmail&amp;ust=1598948753373000&amp;usg=AFQjCNGptF6nR0GNOzIgFmFyGjV3ocg-iA"><img
                                                src="https://ci6.googleusercontent.com/proxy/7xLABFEK299dR3-iwEyf83nCEFeks5Ym29--JgrzCh-3p2ft8rjicOon__DPhdL222xj10hluXC04gLKFb1xjRtJlTx3eOoKGW5u9aYvtQ=s0-d-e1-ft#https://www.iconsdb.com/icons/download/white/facebook-16.png"
                                                style="
                            line-height: inherit;
                            margin-left: 5px;
                            margin-right: 5px;
                          " class="CToWUd" /></a><a
                                            href="https://www.linkedin.com/company/abhigyan-abhikaushalam-students-forum"
                                            style="line-height: inherit" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/abhigyan-abhikaushalam-students-forum&amp;source=gmail&amp;ust=1598948753373000&amp;usg=AFQjCNFAdb5mF2ALV981JVe1JaCEb5ACHg"><img
                                                src="https://ci5.googleusercontent.com/proxy/v3sNnC4QUimnIAZfIJQByb_2zAiwIuAVB7QfzXRr79SbeybyQaISl1PgV_113A6dx6CvB_Y35SCHQsrM__vkeSrLoQppL2ZaH89ueSGs7HAA=s0-d-e1-ft#https://www.iconsdb.com/icons/download/white/linkedin-6-16.png"
                                                style="
                            line-height: inherit;
                            margin-left: 5px;
                            margin-right: 5px;
                          " class="CToWUd" /></a><a href="https://www.instagram.com/aasf_iiitmg/"
                                            style="line-height: inherit" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/aasf_iiitmg/&amp;source=gmail&amp;ust=1598948753373000&amp;usg=AFQjCNEBsy0aqMy1cgoeLDjc6DTTpknagA"><img
                                                src="https://ci6.googleusercontent.com/proxy/it1dcQDp-4iBW782nCiMrR-AUkDQaMFq1bWIzEZkvnZn_tmjnPKrVl_caSm2o2KYppJ08RmH-ZZNpt43vaatU6H_7ziEMhsY5tZYsJq3xGk=s0-d-e1-ft#https://www.iconsdb.com/icons/download/white/instagram-16.png"
                                                style="
                            line-height: inherit;
                            margin-left: 5px;
                            margin-right: 5px;
                          " class="CToWUd" /></a>
                                    </div>
                                </div>
                            </div>
                            <font color="#888888">
                                <div style="
                      line-height: inherit;
                      margin-left: 20px;
                      margin-right: 20px;
                      margin-bottom: 12px;
                    ">
                                    <div style="line-height: 10px; font-size: 1px">&nbsp;</div>
                                </div>
                            </font>
                        </div>
                    </div>
                </div>
                <font color="#888888">
                    <div style="line-height: 20px; font-size: 20px"></div>
                    <div style="line-height: 40px; font-size: 40px"></div>
                </font>
            </div>
            <font color="#888888"><br /></font>
        </div>
    </div>
    <div class="yj6qo"></div>
    </div>
</body>
</html>